<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">서울시립대 영화관 관리</a>
            </div>
            <!-- /.navbar-header -->

          
                <!-- /.dropdown -->
               
               
        
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>관리자 홈</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>통계<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
            
                                <li>
                                    <a href="/statistics/byPeriodPage">기간별</a>
                                </li>
                                <li>
                                    <a href="/statistics/byMoviePage">영화별</a>
                                </li>
                                <li>
                                    <a href="/statistics/bySexPage">성별</a>
                                </li>
                                <li>
                                    <a href="/statistics/byScreenPage">스크린별</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>영화관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/movie/addPage">영화등록</a>
                                </li>
                                <li>
                                    <a href="/movie/modifyPage">영화수정</a>
                                </li>
                                <li>
                                    <a href="/movie/deletePage">영화삭제</a>
                                </li>
             				
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>일정관리<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/time/addPage">일정등록</a>
                                </li>
                                <li>
                                    <a href="/time/modifyPage">일정수정</a>
                                </li>
                                <li>
                                    <a href="/time/deletePage">일정삭제</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i>현장예매<span class="fa arrow"></span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
