  {% extends '../layout/default.html' %}
  {% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">영화별 통계</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	연별
                           <div class='pull-right'>
  							 <input type="text" id='yearSelect' class="form-control input-year">
						   </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="byYear"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	월별
                           <div class='pull-right'>
  							 <input type="text" id='monthSelect' class="form-control input-month">
						   </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="byMonth"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	일별
                           <div class='pull-right'>
  							 <input type="text" id='daySelect' class="form-control input-day">
						   </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="byDay"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                
                <!-- /.col-lg-6 -->
                
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
	{%endblock%}
	
	{% block customScript %}
		<script src="/js/byMovie.js"></script>

	{% endblock %}
	